.main {
  @extend .flex;
  @extend .--dir-col;
  gap: 51px;
	margin-block-end: 105px;
}
.card {
  border: 2px solid getColor(border);
  background-color: getColor(base);
  position: relative;
  &__title {
    font-size: 18px;
    @include font-variation(getColor(title-variation-setting));
    padding: 4px 10px;
  }
  &__img-contener {
    overflow: hidden;
    position: relative;
    border-top: 2px solid getColor(border);
    border-bottom: 2px solid getColor(border);
  }
  &__image {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  &__text-container {
    padding: 26px 25px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }
  &__icon-button {
    padding: 0;
    width: 39px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline 0.3s ease;

    &:focus {
      outline: none;
    }
    &:focus-visible {
      outline: 2px solid getColor(text);
    }
  }
  &__like-button {
    width: 130px;
    padding: 10px 0;
    &-container {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 6px;
    }
  }
}
.lable-text {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1;
  font-family: getColor(font-secondery);
  font-size: 14px;
  @include font-variation(getColor(text-variation-setting));
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 getColor(base), 0 1px getColor(base), 1px 0 getColor(base),
    0 -1px getColor(base);
}
@supports (text-stroke: 1px getColor(base)) or
  (-webkit-text-stroke: 1px getColor(base)) {
  .lable-text {
    text-shadow: none;
    -webkit-text-stroke: 1px getColor(base);
    text-stroke: 1px getColor(base);
  }
}
.like-icon {
  width: inherit;
  height: inherit;
  fill: getColor(text);
  position: relative;
  z-index: 1;

  .heart {
    transition: fill 0.1s;
    transform-origin: center center;
  }

  .contour {
    fill: getColor(text);
  }

  .main-body {
    fill: getColor(base);
    transition: fill 0.3s linear;
  }

  .core {
    fill: getColor(base);
    transition: fill 0.3s 0.05s;
  }

  .sparks {
    opacity: 0;
    fill: getColor(heart);
  }

  &:hover {
    .main-body {
      fill: getColor(text);
    }

    .core {
      fill: getColor(text);
    }
  }

  &:active {
    .main-body {
      fill: getColor(heart);
    }

    .core {
      fill: getColor(heart);
    }
  }

  &.is-liked {
    .contour {
      fill: getColor(heart);
    }

    .main-body {
      fill: getColor(heart);
    }

    .core {
      fill: getColor(heart);
    }
  }
}
.button {
  font-family: getColor(font-secondery);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: getColor(mix-blend-mode);
  background: none;
  border: 2px solid getColor(text);
  cursor: pointer;
  transition: 0.5s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: getColor(text);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      transform: translateX(0);
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    box-shadow: 2px 2px 0px 0px getColor(text);
  }

  &__text {
    color: getColor(mix-blend-mode);
    mix-blend-mode: difference;
  }
  .floppy-image {
    width: 21px;
    mix-blend-mode: difference;
  }
}
.save-button {
  padding: 15px 20px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  align-items: center;
  background: getColor(base);
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: getColor(base);
}
.dialog {
  font-family: getColor(font-secondery), sans-serif;
  font-size: 14px;
  padding: 30px 26px;
  color: getColor(text);
  background: getColor(base);
	margin: auto;
  border: 2px solid getColor(text);

  &::-webkit-backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
  }

  &:not([open]) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @media (width <= 375px) {
      gap: 28px;
    }
  }

  &__text {
    text-transform: uppercase;
    line-height: 1.5;
    max-width: 234px;
    width: 100%;

    &-container {
      display: flex;
      gap: 22px;
      align-items: center;
    }
  }

  .floppy-image {
    width: 39px;
    mix-blend-mode: difference;
  }
}
