@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

html{
	background-color: getColor(base);
    color: var(--text-color);
    background: repeating-linear-gradient(
      90deg,
      getColor(base),
      getColor(base) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      getColor(gradient-first-color),
      getColor(gradient-two-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      getColor(gradient-first-color) 0.01%,
      getColor(gradient-two-color)
    );
		background-attachment: fixed;
    background-size: cover;
}
body{
	max-width: 700px;
	font-family: getColor(font-primer),sans-serif;
	margin:auto;
}
@supports (font-variation-settings: normal) {
		body {
			font-family: getColor(font-primer),sans-serif;
	}
}
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
	color: getColor(text);
	@include font-variation(getColor(font-variation-setting));
}
.like-icon {
	width: inherit;
	height: inherit;
	fill: var(--text-color);
	position: relative;
	z-index: 1;
}
@import '../components/**/**/*.scss';