@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

body{
    background: getColor(base);
    margin: 0;
    padding: 0;

}
.container{
    background: getColor(base);
    color: getColor(text);
    margin-top: 50px;
    .card{
        height: auto;
        width: 300px;
        margin: 0 auto;
        border-radius: 20px;
        background: getColor(base2);
        padding: 20px;
      h1{
        &:after{
          content: var(--theme);
        }        
      }
        p{
            color: getColor(text2);
        }
    }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}