@import 'base/*.scss';
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';

html{
	background-color: getColor(base);
}
body{
	max-width: 700px;
	font-family: getColor(font-primer),sans-serif;
	margin:auto;
}
@supports (font-variation-settings: normal) {
		body {
			font-family: getColor(font-primer),sans-serif;
	}
}
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
	color: getColor(text);
	@include font-variation(465);
	// font-variation-settings:465;
}
@import '../components/**/**/*.scss';